header{
    .nav-primary{
        .menu-nav_bar-container{
            ul{
                li{
                    display: inline-block;
                    a{
                        text-align: center;
                        color: $negro;
                        &:hover{
                            background: none;
                            font-weight: bold;
                            &::before{
                                content: " ";
                                position: absolute;
                                width: 100%;
                                height: 2px;
                                left: 0;
                                bottom: 0;
                                background-color: $verde;
                            }
                        }
                    }
                }
            }
        }
    }
}
