footer{
    background-color: $negro;
    color: $blanco;
    padding: 2em 0;
    h2{
        position: relative;
        margin-bottom: 2em;
        font-weight: bold;
        font-size: 19px;
        &::before{
            content: " ";
            position: absolute;
            display: block;
            width: 30%;
            height: 2px;
            left: 0;
            bottom: -5px;
            background-color: $verde;
        }
    }
    .content{
        a{
            display: block;
            color: $blanco;
        }
        &.content_btn_footer{
            a{
                border: 1px solid $verde;
                padding: 10px;
                text-align: center;
                &:nth-child(1){
                    margin-bottom: 10px;
                }
            }
        }
    }
}
